body {
	margin: 0 auto;
	padding: 0 auto;
}
header {
	background-color: black;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
}
.logo {
	width: 50px;
	margin-right: 200px;
}
.logo img {
	width: 250px;
	align-items: center;
	height: auto;
	margin-top: 10px;
}
.menu {
	display: flex;
	align-items: center;
}
.menu img {
	width: 50px;
	height: 50px;
	padding-right: 16px;
}
.introducao {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Saira Condensed;
	width: 100%;
	height: 50%;
}
.inicio {
	width: 75%;
}
.inicio h1 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 48px;
}
.inicio p {
	font-size: 25px;
	flex-wrap: wrap;
	text-align: justify;
}
.desenvolvedores {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	width: 100%
}
.desenvolvedor img {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin: 30px 75px 30px 75px;
}
.desenvolvedor h2 {
	display: flex;
	justify-content: center;
}